:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --background-color-basic: #2f303a;
  --background-color-second: #f5f4fa;
  --icon-color-gray: #afb1b8;
  --margin-card: 30px;
  --margin-card-minus: -30px;
  --count-card: 1;
  --time-func-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --half-transparent-color: rgba(255, 255, 255, 0.6);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--margin-card-minus);
  margin-left: var(--margin-card-minus);
}

.card-item {
  margin-top: var(--margin-card);
  margin-left: var(--margin-card);
  /* flex-basis: (100% / var(--count-card) - var(--margin-card)); */
  flex-basis: calc((100% - var(--margin-card) * (var(--count-card))) / var(--count-card));
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--header {
  display: flex;
  align-items: center;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-func-cubic);
    transition-property: opacity, transform;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--black-color);
}
.mobile-menu__item {
  margin-bottom: 30px;
}
.mobile-menu__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 60px;
}
.mobile-menu--tel {
  display: block;
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--blue-color);
}
.mobile-menu--mail {
  display: block;
  font-size: 24px;
  line-height: 1.1666666667;
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue-color);
}

.social-list__item:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-menu__close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  fill: var(--black-color);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;
}
.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--blue-color);
}

.mobile-menu__icon {
  border: none;
  background: none;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;
}
@media screen and (min-width: 768px) {
  .mobile-menu__icon {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.mobile-menu__icon:hover, .mobile-menu__icon:focus {
  fill: var(--blue-color);
}

.constructor-list-of-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contructor-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color-gray);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: background-color, fill;
}
.contructor-soc-link:hover, .contructor-soc-link:focus {
  fill: var(--white-color);
  background-color: var(--blue-color);
}

.constructor-item {
  width: 45px;
  height: 45px;
}
.constructor-item:not(:last-child) {
  margin-right: 10px;
}

.privacy {
  position: relative;
  margin-bottom: 30px;
}

.privacy__text {
  font-size: 12px;
}
@media screen and (min-width: 1200px) {
  .privacy__text {
    font-size: 14px;
  }
}

.privacy__check {
  left: 25px;
  top: 25px;
}
.privacy__check:not(:checked) + .label-check .thumb-check .check-icon {
  opacity: 0;
}
.privacy__check:focus + .label-check .thumb-check {
  border: 2px solid var(--blue-color);
}
.check-political + .privacy__check:checked {
  opacity: 0;
  visibility: hidden;
}

.check-link {
  text-decoration-line: underline;
  color: var(--blue-color);
}

.check-icon {
  position: absolute;
}

.label-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.thumb-check {
  border: 2px solid black;
  border-radius: 3px;
  min-width: 16px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.check-icon {
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity;
}

.close-button {
  cursor: pointer;
  right: 10px;
  top: 10px;
  display: flex;
  padding: 5px;
  position: absolute;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: background-color, fill;
}
.close-button:hover, .close-button:focus {
  background-color: rgba(0, 0, 0, 0.1);
  fill: var(--blue-color);
}
.close-button:active {
  background-color: rgba(0, 0, 0, 0.4);
}

.button-to-order {
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: background-color;
}
.button-to-order:hover, .button-to-order:focus {
  background-color: #188ce8;
}
.button-to-order__icon {
  fill: currentColor;
  margin-left: 10px;
}

.active {
  color: var(--blue-color);
}
.active::after {
  content: "";
  height: 4px;
  width: 100%;
  background: var(--blue-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
@media screen and (max-width: 767.98px) {
  .active::after {
    visibility: hidden;
  }
}

.form-email {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .form-email {
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .form-email {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.email-form-input {
  width: 90%;
  height: 50px;
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  margin-right: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .email-form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .email-form-input {
    margin-bottom: 0;
    width: 360px;
  }
}

.email-form::placeholder {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--half-transparent-color);
  /* padding-left: 15px; */
}

.email-form:not(:placeholder-shown) {
  color: var(--white-color);
}

.icon--send-btn {
  fill: currentColor;
  margin-left: 10px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: var(--blue-color);
}
.footer .logo {
  margin-bottom: 20px;
  display: block;
}
.logo--black {
  color: black;
}
.logo--white {
  color: white;
}

.header-logo {
  margin-right: 90px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 15px 10px;
}
@media screen and (max-width: 767.98px) {
  .filter {
    justify-content: flex-start;
  }
}
.filter__button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--black-color);
  background-color: var(--background-color-second);
  border-radius: 4px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color, background-color, box-shadow;
  padding: 5px 20px;
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.backdrop {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity, visibility;
}
.backdrop.is-hidden .order-form {
  opacity: 0;
  transform: scale(0);
}

.order-form-block {
  padding: 40px;
  opacity: 1;
  position: relative;
  width: 100%;
  max-width: 450px;
  overflow-y: auto;
  height: 100%;
  max-height: 625px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity, visibility, transform;
}
@media screen and (min-width: 768px) {
  .order-form-block {
    max-height: 605px;
  }
}
@media screen and (min-width: 1200px) {
  .order-form-block {
    overflow: hidden;
    max-width: 530px;
    max-height: 580px;
  }
}
.order-form-block__title {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  margin-bottom: 10px;
}

.order-form {
  display: flex;
  flex-direction: column;
}

.title-input {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  margin-bottom: 5px;
}

.order-input-text {
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: border-color, outline-color;
}
.order-input-text:focus, .order-input-text:focus + .icon-input {
  fill: var(--blue-color);
  outline-color: var(--blue-color);
}

.thumb-input {
  position: relative;
  margin-bottom: 10px;
}

.icon__input {
  position: absolute;
  top: 10px;
  left: 10px;
  fill: var(--black-color);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;
}

.order-input-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: outline-color;
}
.order-input-textarea:focus {
  outline-color: var(--blue-color);
}
.order-input-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.nav-menu {
  color: var(--black-color);
  display: flex;
}
.nav-menu__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 767.98px) {
  .nav-menu {
    display: none;
    visibility: hidden;
  }
}

.nav-menu__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: var(--blue-color);
}

.contacts-header {
  margin-left: auto;
}
.contacts-header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts-header__content {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-header__content {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.contacts-header__content:hover, .contacts-header__content:focus {
  fill: var(--blue-color);
  color: var(--blue-color);
}

.contacts-header-items {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .contacts-header-items {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts-header-items {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header__content:last-child {
    margin-left: 30px;
  }
}

.address {
  font-style: normal;
  color: var(--half-transparent-color);
}
.address--company {
  color: white;
}

.list-address li:not(:last-child) {
  margin-bottom: 10px;
}

.address__link {
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;
}
.address__link:hover, .address__link:focus {
  color: var(--blue-color);
}

@media screen and (min-width: 768px) {
  .benefits__list {
    --count-card: 2;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    --count-card: 4;
  }
}
.benefits__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--black-color);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    justify-content: flex-start;
  }
}
.benefits__text {
  display: flex;
  justify-content: center;
}

.benefits__wraper {
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-color-second);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: box-shadow;
}
.benefits__wraper:hover, .benefits__wraper:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.footer {
  background-color: var(--background-color-basic);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-item:not(:last-child) {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-item:not(:last-child) {
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-item:last-child {
    margin-left: auto;
  }
}
.footer-item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.footer-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-display {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-display {
    text-align: left;
    flex-wrap: nowrap;
  }
}
.footer--soc-link {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.header {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: solid 1px #ececec;
}
.header .logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-banner {
  display: flex;
  align-items: center;
  min-height: 400px;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-mobile.jpg);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bg-tablet.jpg);
    max-height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bg-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bg-desk.png);
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .main-banner {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-bg-desk@2x.jpg);
  }
}

.main__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: white;
  -webkit-text-stroke: 0.5px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .main__text {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 700px;
  }
}

.client__link {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color-gray);
  border-radius: 4px;
  fill: var(--icon-color-gray);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: border-color, fill;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .client__link {
    width: 225px;
    height: 90px;
  }
}
.client__link:hover, .client__link:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
}

.client__list {
  --count-card: 2;
}
@media screen and (min-width: 768px) {
  .client__list {
    --count-card: 3;
  }
}
@media screen and (min-width: 1200px) {
  .client__list {
    --count-card: 6;
  }
}

.team {
  background-color: var(--background-color-second);
}
@media screen and (min-width: 768px) {
  .team {
    --count-card: 2;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    --count-card: 4;
  }
}
.team__title, .team__description {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team__description {
  margin-bottom: 15px;
}
.team__title {
  font-weight: 500;
  color: var(--black-color);
  margin-bottom: 10px;
}
.team__content {
  padding: 30px;
}

.card__employer {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .card__employer {
    max-width: 355px;
  }
  .card__employer:nth-child(odd) {
    margin-left: 15px;
  }
}
.team__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .project {
    --count-card: 2;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    --count-card: 3;
  }
}

.link__project {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: box-shadow;
}
.link__project:hover, .link__project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-content {
  padding: 20px 25px;
  border: solid 1px #ececec;
  flex-grow: 1;
}
.project-content__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
  margin-bottom: 5px;
}
.project-content__text {
  font-size: 16px;
  line-height: 1.875;
}

.project-description {
  font-size: 18px;
  line-height: 1.5555555556;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 75px 25px;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-property: transform, opacity;
  transition-timing-function: var(--time-func-cubic);
}
@media screen and (max-width: 767.98px) {
  .project-description {
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .project-description {
    padding: 50px 25px;
  }
}
@media screen and (min-width: 1200px) {
  .project-description {
    padding: 60px 25px;
  }
}

.thumb-description {
  position: relative;
  overflow: hidden;
}
.thumb-description__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .thumb-description__img {
    object-fit: none;
    min-height: 294px;
  }
}

.link__project:hover .project-description,
.link__project:focus .project-description {
  opacity: 1;
  transform: translateY(0);
}

.work {
  padding-top: 0;
}
@media screen and (max-width: 1199.98px) {
  .work {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
.work__list {
  --count-card: 3;
}
.work__item {
  position: relative;
}
.work__text {
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px 0;
}/*# sourceMappingURL=main.css.map */