.footer {
  background-color: var(--background-color-basic);
  padding-top: 60px;
  padding-bottom: 60px;

  &-item:not(:last-child) {
    margin-bottom: 60px;

    @include device(tab) {
      margin-right: 70px;
    }
  }

  &-item:last-child {
    @include device(desk) {
      margin-left: auto;
    }
  }

  &-item__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--white-color);

    margin-bottom: 20px;
  }

  &-display {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include device(tab) {
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include device(desk) {
      text-align: left;
      flex-wrap: nowrap;
    }
  }

  &--soc-link {
    fill: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
