.client__link {
  //width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-color-gray);
  border-radius: 4px;
  fill: var(--icon-color-gray);

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: border-color, fill;

  @include device(tab-only) {
    width: 225px;
    height: 90px;
  }

  &:hover,
  &:focus {
    fill: var(--blue-color);
    border-color: var(--blue-color);
  }
}

.client__list {
  --count-card: 2;

  @include device(tab) {
    --count-card: 3;
  }

  @include device(desk) {
    --count-card: 6;
  }
}
