.team {
  background-color: var(--background-color-second);

  &__title,
  &__description {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 10px;
  }

  &__content {
    padding: 30px;
  }
}

.card__employer {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
