.team {
  @include device(tab) {
    --count-card: 2;
  }

  @include device(desk) {
    --count-card: 4;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__title,
  &__description {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__title {
    font-weight: 500;
    color: var(--black-color);
    margin-bottom: 10px;
  }

  &__content {
    padding: 30px;
  }

  background-color: var(--background-color-second);
}

.card__employer {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  max-width: 450px;

  @include device(tab-only) {
    max-width: 355px;

    &:nth-child(odd) {
      margin-left: 15px;
    }
  }

  @include device(desk) {
    max-width: 270px;
  }
}

.team__img {
  width: 450px;
  height: 460px;

  @include device(tab) {
    width: 355px;
    height: 375px;
  }

  @include device(desk) {
    width: 270px;
    height: 260px;
  }
}
