.active {
  color: var(--blue-color);

  &::after {
    content: "";
    height: 4px;
    width: 100%;
    background: var(--blue-color);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;

    @include device(mob-only) {
      visibility: hidden;
    }
  }
}
