.privacy {
  position: relative;
  margin-bottom: 30px;
}

.privacy__text {
  font-size: 12px;

  @include device(desk) {
    font-size: 14px;
  }
}

.privacy__check {
  left: 25px;
  top: 25px;

  &:not(:checked) + .label-check .thumb-check .check-icon {
    opacity: 0;
  }

  &:focus + .label-check .thumb-check {
    border: 2px solid var(--blue-color);
  }

  .check-political + &:checked {
    opacity: 0;
    visibility: hidden;
  }
}

.check-link {
  text-decoration-line: underline;
  color: var(--blue-color);
}

.check-icon {
  position: absolute;
}

.label-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.thumb-check {
  border: 2px solid black;
  border-radius: 3px;
  min-width: 16px;
  height: 15px;
  margin-right: 10px;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.check-icon {
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity;
}
