.contacts-header {
  margin-left: auto;

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  @include device(desktop) {
    &__item:not(:first-child) {
      margin-left: 50px;
    }
  }
}

.contacts-header__content {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;

  @include device(tab-only) {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &:hover,
  &:focus {
    fill: var(--blue-color);
    color: var(--blue-color);
  }
}

.contacts-header-items {
  display: flex;
  margin-left: auto;
  @include device(mob-only) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @include device(tab-only) {
    flex-direction: column;
  }
}

.contacts-header__content:last-child {
  @include device(desk) {
    margin-left: 30px;
  }
}
