.contacts-header {
  margin-left: auto;

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  &__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts-header__content {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  position: relative;

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: color;

  &:hover,
  &:focus {
    fill: var(--blue-color);
    color: var(--blue-color);
  }
}

.contacts-header-items {
  display: flex;
  margin-left: auto;
}
