.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--blue-color);

  .footer & {
    margin-bottom: 20px;
    display: block;
  }

  &--black {
    color: black;
  }

  &--white {
    color: white;
  }
}
