.mobile-menu {
  @include device(mob-only) {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    background-color: var(--white-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-func-cubic);
    transition-property: opacity, transform;
  }

  @include device(tab) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  &.is-open {
    transform: translateX(0);
  }
  &__block {
    // margin-top: 50px;
    // margin-left: 40px;
    margin: 50px 40px;
  }

  &__list {
    position: relative;
  }

  &__item {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47px / 40px);
    letter-spacing: 0.02em;

    color: var(--black-color);
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__link {
  }

  &__contacts {
    position: absolute;
    bottom: 50px;
  }

  &--tel {
    display: block;
    font-size: 34px;
    line-height: calc(40px / 34px);
    color: var(--blue-color);
    margin-bottom: 30px;
  }

  &--mail {
    display: block;
    font-size: 24px;
    line-height: calc(28px / 24px);
    margin-bottom: 65px;
  }
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.social-list__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue-color);
}

.social-list__item:not(:last-child) {
  &::after {
    content: "";
    margin-left: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}

.mobile-menu__close-icon {
  position: absolute;
  top: 10px;
  right: 15px;

  border: none;
  background: none;

  fill: var(--black-color);

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;

  &:hover,
  &:focus {
    fill: var(--blue-color);
  }
}

.mobile-menu__icon {
  @include device(tab) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 15px;

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;

  &:hover,
  &:focus {
    fill: var(--blue-color);
  }
}
