.backdrop {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity, visibility;

  &.is-hidden .order-form {
    opacity: 0;
    transform: scale(0);
  }
}

.order-form-block {
  padding: 40px;
  opacity: 1;
  position: relative;
  width: 530px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: opacity, visibility, transform;

  &__title {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-bottom: 10px;
  }
}

.order-form {
  display: flex;
  flex-direction: column;
}

.title-input {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  margin-bottom: 5px;
}

.order-input-text {
  padding-left: 40px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: border-color, outline-color;

  &:focus,
  &:focus + .icon-input {
    fill: var(--blue-color);
    outline-color: var(--blue-color);
  }
}

.thumb-input {
  position: relative;
  margin-bottom: 10px;
}

.icon__input {
  position: absolute;
  top: 10px;
  left: 10px;
  fill: var(--black-color);
  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: fill;
}

.order-input-textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 10px 15px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;

  transition-duration: 250ms;
  transition-timing-function: var(--time-func-cubic);
  transition-property: outline-color;

  &:focus {
    outline-color: var(--blue-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
