.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include device(desk) {
    width: 1200px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  // height: 80px;
}
